.container {
  background-image: url("https://media.istockphoto.com/photos/to-do-list-in-notebook-with-calendar-picture-id1092571024?k=20&m=1092571024&s=612x612&w=0&h=dz6l5jjYZC0lU2dUkqu5g5_0XtY3xnHs57mJDNlvJSk=");
}

input {
  padding-left: 7px;
  margin-bottom: 15px;
}

input::placeholder {
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 0.8;
}

.card {
  margin-bottom: 22px;
}